/* Her bytter jeg bakgrunnsfarge*/

body {
    background-color: silver;
}

/* Under designer jeg hvordan navbaren skal se ut*/

.topnav {
    background-color: black;
    overflow: hidden;
    position: fixed; 
    position: top;
    top: 0; 
    left: 0; 
    z-index: 9999; 
    width: 100%;
    border-width: 1.6mm;
    border-color: white;
    border-style: groove;
    border-bottom-style: groove;
    border-bottom-width: 0.6mm;
    font-style: oblique;
    font-family: lucida sans;
    border-radius: 0.6cm;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: black;
    color: gray;
}

.topnav a:active {
    background-color: silver;
    color: white;
}

/* Her fikser jeg posisjonen og formen på profilbildet*/

.circle img {
    border-radius: 50%;
    margin-top: 2.5cm;
    border-color: gold;
    border-width: 0.8mm;
    border-style: ridge;
}

/* Her midtstiller/designer jeg navnet mitt*/

.Daniel {
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "times new roman";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gold;
}

/* Her designer jeg border*/

.tab {
    border-color: black;
    border-width: 1mm;
    border-style: dashed;
}

